#main {
  margin-left: O;
  margin-right: 0;
  opacity: 1;
  transition: opacity 0.3s, margin-left 0.3s, margin-right 0.3s;
}
body.empty #main {
  margin-left: -3em;
  margin-right: 3em;
  opacity: 0;
}
#contact #validerform span {
  vertical-align: middle;
  margin-bottom: 10px;
  display: inline-block;
}
#contact .boutton-appel {
  display: inline-block;
  padding: 20px;
  border-radius: 110px;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
#contact .boutton-appel:active {
  box-shadow: none;
}
.page-title {
  font-size: 36px;
  margin: .5em 0;
}
.page-sub-title {
  font-size: 24px;
  margin: 1em 0;
}
.centered {
  text-align: center;
}
a,
a:active,
a:visited {
  outline: 0;
}
.card-title .title-icon-container {
  display: inline-block;
  float: right;
  background: #2196F3;
  color: #fff;
  padding: 2px;
  border-radius: 26px;
}
.loading {
  text-align: center;
  padding-top: 10%;
}
#accueil .card .card-title {
  transition: font-size 0.6s;
}
#accueil .card:hover .card-title {
  font-size: 36px;
}
#accueil .banner {
  margin-bottom: 3em;
  height: 400px;
  background: blue;
}
#accueil .container {
  width: 85%;
}
#accueil .presentation {
  border-bottom: solid 1px #eee;
  padding: 1em 0;
}
#accueil .services {
  text-align: center;
  margin-bottom: 3em;
}
#accueil .services span {
  display: inline-block;
  background: lightblue;
  color: #fff;
  width: 160px;
  height: 160px;
  line-height: 160px;
  text-align: center;
  border-radius: 160px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: background 1s;
  margin: 2em;
}
#accueil .services span:hover {
  background: orange;
}
#accueil .presentation,
#accueil .services-titre {
  margin-bottom: 3em;
  text-align: center;
  color: #999;
}
#accueil .presentation span,
#accueil .services-titre span {
  font-size: 2em;
}
#domotique .explication {
  text-align: justify;
}
#domotique .explication.entete {
  margin-bottom: 2em;
}
#domotique .big-icons {
  text-align: center;
}
#domotique .big-icons .icon-container {
  background: #2196F3;
  color: #fff;
  display: inline-block;
  padding: 20px;
  border-radius: 110px;
}
#domotique .big-icons .sub-title {
  color: #2196F3;
  font-size: 20px;
  margin: 20px 0;
}
#domotique .card .explication {
  font-size: 12px;
}
#domotique .card .explication p {
  margin-bottom: 3px;
}
